---
import BaseLayout from '../../layouts/baselayout.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true })); // importa todos os posts
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())]; // importa todas as tags, junta-as num unico array e filtra para nao haver repetidas
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap">
    {tags.map((tag) => (
      <p class="m-1 border border-dotted border-[#a1a1a1] rounded-md px-4 py-2 text-[1.15em] bg-[#F8FCFD]"><a href={`/tags/${tag}`} class="color-blue-600">{tag}</a></p>
    ))}
  </div> <!-- faz um loop nas tags e cria links para as tags -->
</BaseLayout>

