---
const pageTitle = "My Astro Learning Blog";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{pageTitle}</title>
	</head>

	<body>
		<main>
			<h1>My Astro Blog</h1>

				<a href="/">Home</a>
				<a href="/about/">About</a>
                <a href="/blog/">Blog</a>

			<p>
				Blog
			</p>    
            
            <ul>
                <li><a href="/posts/post1/">Post 1</a></li>
                <li><a href="/posts/post2/">Post 2</a></li>
                <li><a href="/posts/post3/">Post 3</a></li>
            </ul>
	
		</main>
	</body>
</html>
