---
import "../styles/global.css";
import Footer from '../components/footer.astro';
import Navigation from "../components/navigation.astro";
import Header from '../components/header.astro';
import Menu from '../components/Menu.astro';
import BlogPost from '../components/blogpost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{pageTitle}</title>
	</head>

	<body>
		<Menu />
		<Header />
		<main>
			<h1>My Astro Blog</h1>

			

			<p>Blog</p>

			<ul>
				        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

			</ul>
		</main>
		<Footer />
  		<script>
    		import "../scripts/menu.js";
  		</script>
	</body>
</html>
