---
const pageTitle = "Home";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{pageTitle}</title>
	</head>
	<body>
		<main>
			<h1>My Astro Blog</h1>

				<a href="/">Home</a>
				<a href="/about/">About</a>
				<a href="/blog/">Blog</a>
				
			<p>
				Welcome
			</p>
	
		</main>
	</body>
</html>
