---
import Navigation from "../components/navigation.astro";
import "../styles/global.css";
const pageTitle = "Home";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{pageTitle}</title>
	</head>
	<body>
		<main>
			<h1>My Astro Blog</h1>

			<Navigation />

			<p>Welcome</p>
		</main>
	</body>
</html>
