---
import Menu from './Menu.astro';
import Navigation from './navigation.astro';
import ThemeIcon from './themeicon.astro';
---
<header>
  <nav>
    <div>
      <ThemeIcon />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>