---
const { platform, username } = Astro.props; // vai buscar a plataforma e o nome de utilizador
---
<a href={`https://www.${platform}.com/${username}`} class="px-4 py-2 text-white bg-violet-900 no-underline">{platform}</a> <!-- constrói o link -->

