---
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
import Header from "../components/header.astro";
import Menu from "../components/menu.astro"; // importa componentes
const { pageTitle } = Astro.props; // vai buscar o titulo da pagina
---

<!doctype html>
<html lang="en">
	<head>
		<title>{pageTitle}</title> <!-- define o titulo usando a constante -->
	</head>
	<body>
		<Menu /> 
		<Header /> <!-- usa os componentes importados -->
		<main>
			<h1>My Astro Blog</h1>

			<p>Welcome</p>
		</main>
        <slot />
		<Footer />
		<script>
			    import "../scripts/menu.js"; // importa o menu

		</script>
	</body>
</html>
